@import './base/module';
@import './utils/module';
@import './components/module';
@import './layout/module';
@import './pages/hotel/module';
@import './pages/restaurant/module';
@import './pages/luxe2Adult.html/module';
@import './pages/luxe2Adult.html/module';
@import './pages/room3Adult/module';
