@font-face {
  font-family: 'Film P3 Wide Light';
  src: url(../fonts/FontsFree-Net-FilmP3WideLight.ttf);
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: 'Times New Roman';
  src: url(../fonts/TimesNewRomanMTStd.ttf);
}
