$primaryBackgroundColor:#FFFDEE;
$secondaryBackgroundColor:#F0ECD6;
$borderColor:#C79002;
$modalBackgroundColor:#F3C653;
$textColor:#7A7A7A;
$footerColor: #0E0C07;
$textBlackColor:#000000;
$whiteColor:#ffffff;
