$primaryBackgroundColor: #fffdee;
$secondaryBackgroundColor: #f0ecd6;
$borderColor: #c79002;
$modalBackgroundColor: #f3c653;
$textTitleColor: #494848;
$textPreTitleColor: #b4b4b4;
$textPostTitleColor: #5f5f5f;
$textColor: #7a7a7a;
$footerColor: #0e0c07;
$textBlackColor: #000000;
$whiteColor: #ffffff;
$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
