.container {
  border: solid 1px red;
}

.wrap-discribe {
  display: block;

  @include tablet {
    position: relative;
    display: flex;
    gap: 26px;
    margin-bottom: 176px;
  }
}

.section {
  background: #fffdee;
  padding-top: 32px;
  padding-bottom: 32px;

  @include tablet {
    padding-top: 62px;
    padding-bottom: 104px;
  }

  @include desktop {
    padding-top: 72px;
    padding-bottom: 112px;
  }
}

.text-pre-title {
  margin-bottom: 8px;
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  color: #b4b4b4;

  @include tablet {
    margin-bottom: 4px;
    font-size: 32px;
  }
}

.text-logo {
  margin-bottom: 32px;
  font-family: 'Film P3';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.08;
  letter-spacing: 0.3em;
  color: #494848;
  text-transform: uppercase;

  @include tablet {
    margin-bottom: 62px;
    font-size: 64px;
  }

  @include desktop {
    margin-bottom: 72px;
  }
}

.text-title {
  margin-bottom: 12px;
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #000000;
  & > span {
    text-transform: uppercase;
  }
  @include tablet {
    margin-bottom: 16px;
    font-size: 30px;
  }

  @include desktop {
    margin-bottom: 24px;
    font-size: 36px;
  }
}

.text-after-title {
  width: 258px;
  margin-bottom: 32px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #5f5f5f;
  @include tablet {
    font-size: 16px;
    width: 439px;
  }

  @include desktop {
    font-weight: 700;
    width: 400px;
  }
}

.thumb {
  position: relative;
  @include tablet {
    position: absolute;
    top: -94px;
    right: 65px;
  }
  @include desktop {
    position: absolute;
    top: -105px;
    lright: 95px;
  }
}

.room-img {
  width: 246px;
  margin-left: auto;
  margin-bottom: 32px;
  @include tablet {
    width: 400px;
  }

  @include desktop {
    width: 460px;
  }
}

.wrap-info {
  display: block;
  @include tablet {
    display: flex;
  }
}

.btn {
  min-width: 236px;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  background: #000000;
  border: 2px solid #fffdee;
  border-radius: 25px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #f3c653;
}

// СЛАЙДЕР
​ .restaurant-about-slider {
  &__wrapper {
    position: relative;
    left: 68px;
    margin: 0;
    margin-top: 32px;
    @media screen and (min-width: 1024px) {
      left: 0px;
      margin-top: 0px;
      top: -80px;
    }
  }
  &__container {
    width: 330px;
    @media screen and (min-width: 1024px) {
      width: 413px;
      margin-left: auto;
    }
    @media screen and (min-width: 1280px) {
      width: 515px;
    }
  }
  & .slick-track {
    position: relative;
    display: flex;
    gap: 25px;
  }
  & .slick-list {
    overflow: hidden;
  }
  ​ &__item {
    width: 245px;
    height: 245px;
    @media screen and (min-width: 1024px) and (max-width: 1279px) {
      width: 194px;
    }
  }
  &__image {
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.08);
  }
  &__img {
    width: 245px;
    height: 245px;
  }
  &__wrapper .slick-prev {
    position: absolute;
    background-color: transparent;
    font-size: 0;
    z-index: 10;
    width: 45px;
    height: 25px;
    border: none;
    cursor: pointer;
  }
  &__wrapper .slick-next {
    position: absolute;
    background-color: transparent;
    font-size: 0;
    width: 45px;
    height: 25px;
    left: 55px;
    border: none;
    cursor: pointer;
  }
  &__arrow-left {
    padding: 0;
    border: none;
    margin-right: 30px;
    background-color: transparent;
  }
  &__arrow-right {
    padding: 0;
    border: none;
    background-color: transparent;
  }
  &__buttons {
    position: absolute;
    top: 265px;
    right: 90px;
    width: 108px;
    @media screen and (max-width: 320px) {
      left: 145px;
    }
    @media screen and (min-width: 1024px) {
      right: -15px;
      top: 228px;
    }
    @media screen and (min-width: 1280px) {
      top: 270px;
    }
  }
  &__arrow-left-svg {
  }
}
.slick-prev {
  left: -15px !important;
}
.slick-prev:before,
.slick-next:before {
  color: transparent !important;
}
