<section class="menu-section">
  <div class="container">
    <h2 class="title" id="menu">меню ресторану</h2>
   <div class="tables-wrap">
    <table>
      <caption>
        Гарячи страви
      </caption>
      
      <tbody>
        <tr>
          <td class="collumn-head">Борщ з телятини з квасолею</td>
          <td rowspan="2" class="collumn2">400 г</td>
          <td rowspan="2" class="collumn3">240 грн</td>
          </tr>
          <tr>
          <td class="collumn1">Телятина, картопля, капуста, морква, цибуля, квасоля, часник, помідори, зелень, сметана</td>
          </tr>

          <tr>
            <td class="collumn-head">Суп сирний з куркою</td>
            <td rowspan="2" class="collumn2">400 г</td>
            <td rowspan="2" class="collumn3">200 грн</td>
            </tr>
            <tr>
            <td class="collumn1">Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень</td>
            </tr>

            <tr>
            <td class="collumn-head">Паста карбонара</td>
            <td rowspan="2" class="collumn2">350 г</td>
            <td rowspan="2" class="collumn3">430 грн</td>
            </tr>
            <tr>
            <td class="collumn1">Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень</td>
              </tr>

          <tr>
          <td class="collumn-head">Стейк зі свинини</td>
          <td rowspan="2" class="collumn2">400 г</td>
          <td rowspan="2" class="collumn3">500 грн</td>
          </tr>
          <tr>
          <td class="collumn1">Свиняча вирізка, спеціі, подається з соусом солодкий чилі та овочами</td>
          </tr>

          <tr>
            <td class="collumn-head">Горбуша в соусі з білого вина</td>
            <td rowspan="2" class="collumn2">400 г</td>
            <td rowspan="2" class="collumn3">400 грн</td>
            </tr>
            <tr>
            <td class="collumn1">Ніжна горбуша, вершковий соус на основі білого вина</td>
            </tr>
        </tbody>
</table>

<table>
  <caption>
  Гарніри та закуски
  </caption>
  
  <tbody>
    <tr>
      <td class="collumn-head">Запечені овочі</td>
      <td rowspan="2" class="collumn2">200 г</td>
      <td rowspan="2" class="collumn3">230 грн</td>
      </tr>
      <tr>
      <td class="collumn1">Кабачок, перець, помідор, баклажан</td>
      </tr>

      <tr>
        <td class="collumn-head">Картопля фрі</td>
        <td rowspan="2" class="collumn2">150 г</td>
        <td rowspan="2" class="collumn3">160 грн</td>
        </tr>
        <tr>
        <td class="collumn1">Картопля, соус томатний</td>
        </tr>

        <tr>
        <td class="collumn-head">Картопля по-селянськи</td>
        <td rowspan="2" class="collumn2">150 г</td>
        <td rowspan="2" class="collumn3">160 грн</td>
        </tr>
        <tr>
        <td class="collumn1">Картопля, спеції, соус пікантний</td>
          </tr>

      <tr>
      <td class="collumn-head">Хрумкі соління з бочки</td>
      <td rowspan="2" class="collumn2">250 г</td>
      <td rowspan="2" class="collumn3">350 грн</td>
      </tr>
      <tr>
      <td class="collumn1">Огірок солений, помідор квашений, квашена капуста, морква по-корейські</td>
      </tr>

      <tr>
        <td class="collumn-head">Крильця курячі в медовому соусі</td>
        <td rowspan="2" class="collumn2">400 г</td>
        <td rowspan="2" class="collumn3">420 грн</td>
        </tr>
        <tr>
        <td class="collumn1">Крильця курячі, гірчично-медовий соус, подається з морквою, селерою і соусом блючиз</td>
        </tr>
    </tbody>
</table>

<table>
  <caption>
    Салати
  </caption>
  
  <tbody>
    <tr>
      <td class="collumn-head">Цезар з куркою</td>
      <td rowspan="2" class="collumn2">230 г</td>
      <td rowspan="2" class="collumn3">450 грн</td>
      </tr>
      <tr>
      <td class="collumn1">Куряче філе, листя салату, помідори чері, сир пармезан, грінки, соус цезар</td>
      </tr>

      <tr>
        <td class="collumn-head">Цезар з креветками</td>
        <td rowspan="2" class="collumn2">230 г</td>
        <td rowspan="2" class="collumn3">300 грн</td>
        </tr>
        <tr>
        <td class="collumn1">Тигрові креветки, листя салату, помідори чері, сир пармезан, грінки, соус цезар</td>
        </tr>

        <tr>
        <td class="collumn-head">Грецький салат</td>
        <td rowspan="2" class="collumn2">230 г</td>
        <td rowspan="2" class="collumn3">280 грн</td>
        </tr>
        <tr>
        <td class="collumn1">Свіжі огірок, помідор, болгарський перець, оливки, сир бринза, листя салату, соус</td>
          </tr>

      <tr>
      <td class="collumn-head">М’ясний салат</td>
      <td rowspan="2" class="collumn2">230 г</td>
      <td rowspan="2" class="collumn3">300 грн</td>
      </tr>
      <tr>
      <td class="collumn1">Куряче філе або свиняча вирізка, свіжі огірок, помідор, болгарський перець, соус ранч</td>
      </tr>
          </tbody>
</table>

<table>
  <caption>
    Десерти 
  </caption>
  
  <tbody>
    <tr>
      <td class="collumn-head">Торт наполеон</td>
      <td  class="collumn2">230 г</td>
      <td  class="collumn3">300 грн</td>
      </tr>

      <tr>
        <td class="collumn-head">Торт маковий</td>
        <td  class="collumn2">230 г</td>
        <td  class="collumn3">300 грн</td>
        </tr>

        <tr>
          <td class="collumn-head">Тірамісу</td>
          <td  class="collumn2">120 г</td>
          <td  class="collumn3">260 грн</td>
          </tr>      
          </tbody>
</table>

<table>
  <caption>
    Напої
  </caption>
  
  <tbody>
    <tr>
      <td class="collumn-head">Чай чорний/зелений</td>
      <td  class="collumn2">500 мл</td>
      <td  class="collumn3">100 грн</td>
      </tr>

      <tr>
        <td class="collumn-head">Еспресо</td>
        <td  class="collumn2">30 мл</td>
        <td  class="collumn3">100 грн</td>
        </tr>

        <tr>
          <td class="collumn-head">Американо</td>
          <td  class="collumn2">150 мл</td>
          <td  class="collumn3">100 грн</td>
          </tr>  
          
          <tr>
            <td class="collumn-head">Капучино</td>
            <td  class="collumn2">200 мл</td>
            <td  class="collumn3">160 грн</td>
            </tr>  

            <tr>
              <td class="collumn-head">Латте</td>
              <td  class="collumn2">200 мл</td>
              <td  class="collumn3">160 грн</td>
              </tr>   
            </tbody>
          </tbody>
</table>
   </div>
   <button class=" food-order-button js-open-modal" data-modal="table" type="button">Забронювати столик</button>
  </div>
   </section>