<section class="section-about-restaurant section-about-hotel">
  <div class="container about-rest-grey-lain container-slider-overflow-hidden">
    <div class="about-restorant-lain-rgey"></div>
    <div class="restaurant-wrap hotel-wrap">
      <div class="restaurant-text-container hotel-text-container">
        <h3 class="visually-hidden">все про ресторан міміно</h3>
        <p class="restaurant__slogan hotel__slogan">Amet minim mollit non</p>
        <p class="restaurant__name hotel__name">MIMIHO</p>
        <p class="restaurant__description hotel__description">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <div
        class="restaurant-container-img-right-wrap hotel-container-img-right-wrap"
      >
        <div class="restaurant-container-img-right hotel-container-img-right">
          <picture>
            <source
              srcset="
                ./images/hotel-images/apartment-1280-min.jpg    1x,
                ./images/hotel-images/apartment-1280@2x-min.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/hotel-images/apartment-1024-min.jpg    1x,
                ./images/hotel-images/apartment-1024@2x-min.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/hotel-images/apartment-414-min.jpg    1x,
                ./images/hotel-images/apartment-414@2x-min.jpg 2x
              "
              media="(max-width: 1024px)"
            />
            <img
              class="image"
              src="./images/hotel-images/apartment-414-min.jpg"
              alt="Спальне ліжко в апартаментах"
              sizes="(min-width: 1280px) 460px, (min-width: 1024px) 400px, (max-width: 1024px) 244px, 100vw"
            />
          </picture>
        </div>
      </div>
    </div>
    <div class="restaurant-wrap hotel-wrap hotel-wrap-two">
      <div
        class="restaurant-text-container restaurant-text-container-right hotel-text-container-right"
      >
        <p class="restaurant__description accent_description">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <div class="restaurant-container-img-left hotel-container-img-left">
        <picture>
          <source
            srcset="
              ./images/hotel-images/hall-1280-min.jpg    1x,
              ./images/hotel-images/hall-1280@2x-min.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/hotel-images/hall-1024-min.jpg    1x,
              ./images/hotel-images/hall-1024@2x-min.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./images/hotel-images/hall-414-min.jpg    1x,
              ./images/hotel-images/hall-414@2x-min.jpg 2x
            "
            media="(max-width: 1024px)"
          />
          <img
            class="hotel-hall__photo-hall"
            class="image"
            src="./images/hotel-images/hall-414-min.jpg"
            alt="Камін в холі"
            sizes="(min-width: 1280px) 460px, (min-width: 1024px) 400px, (max-width: 1024px) 244px, 100vw"
          />
        </picture>
      </div>

      <div></div>
    </div>

    <!-- СЛАЙДЕР -->

    <div class="restaurant-about-slider__wrapper hotel-about-slider__wrapper">
      <div
        class="restaurant-about-slider__container hotel-about-slider__container"
      >
        <ul
          class="hotel-about-slider restaurant-about-slider slick variable-width"
        >
          <li class="restaurant-about-slider__item">
            <picture class="restaurant-about-slider__image">
              <source
                srcset="
                  ./images/hotel-images/hotel-registration_desktop.jpg    1x,
                  ./images/hotel-images/hotel-registration_desktop@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/hotel-images/hotel-registration_tablet.jpg    1x,
                  ./images/hotel-images/hotel-registration_tablet@2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/hotel-images/hotel-registration_mobile.jpg    1x,
                  ./images/hotel-images/hotel-registration_mobile@2x.jpg 2x
                "
                media="(max-width: 1024px)"
              />
              <img
                class="about-hotel__photo-slide"
                class="image"
                src="./images/hotel-images/hotel-registration_mobile.jpg"
                alt="Ресепція"
                sizes="(min-width: 1280px) 245px, (min-width: 1024px) 194px, ((max-width: 1024px) 245px, 100vw"
              />
            </picture>
          </li>
          <li class="restaurant-about-slider__item">
            <picture class="restaurant-about-slider__image">
              <source
                srcset="
                  ./images/hotel-images/white-towel_desktop.jpg    1x,
                  ./images/hotel-images/white-towel_desktop@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/hotel-images/white-towel_tablet.jpg    1x,
                  ./images/hotel-images/white-towel_tablet@2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/hotel-images/white-towel_mobile.jpg    1x,
                  ./images/hotel-images/white-towel_mobile@2x.jpg 2x
                "
                media="((max-width: 1024px)"
              />
              <img
                class="about-hotel__photo-slide"
                class="image"
                src="./images/hotel-images/white-towel_mobile.jpg"
                alt="Рушники"
                sizes="(min-width: 1280px) 245px, (min-width: 1024px) 194px, ((max-width: 1024px) 245px, 100vw"
              />
            </picture>
          </li>
          <li class="restaurant-about-slider__item">
            <picture class="restaurant-about-slider__image">
              <source
                srcset="
                  ./images/hotel-images/pexels-helena-lopes_desktop.jpg    1x,
                  ./images/hotel-images/pexels-helena-lopes_desktop@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/hotel-images/pexels-helena-lopes_tablet.jpg    1x,
                  ./images/hotel-images/pexels-helena-lopes_tablet@2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/hotel-images/pexels-helena-lopes_mobile.jpg    1x,
                  ./images/hotel-images/pexels-helena-lopes_mobile@2x.jpg 2x
                "
                media="((max-width: 1024px)"
              />
              <img
                class="about-hotel__photo-slide"
                class="image"
                src="./images/hotel-images/pexels-helena-lopes_mobile.jpg"
                alt="Барна стійка"
                sizes="(min-width: 1280px) 245px, (min-width: 1024px) 194px, ((max-width: 1024px) 245px, 100vw"
              />
            </picture>
          </li>
        </ul>
        <div
          class="restaurant-about-slider__buttons hotel-about-slider__buttons"
        >
          <div class="hotel-about__slider-nav"></div>
          <button class="restaurant-about-slider__arrow-left" type="button">
            <svg
              width="30px"
              height="17px"
              class="restaurant-about-slider__arrow-left-svg"
            >
              <use href="./images/icons.svg#icon-prev-button"></use>
            </svg>
          </button>
          <button class="restaurant-about-slider__arrow-right" type="button">
            <svg
              width="30px"
              height="17px"
              class="restaurant-about-slider__arrow-right-svg"
            >
              <use href="./images/icons.svg#icon-next-button"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
