<section class="section contacts-main">
  <h2 class="visually-hidden">контакти</h2>
  <div class="container contacts__container">
    <div class="text-contacts__wrap">
      <div class="logo__wrap">
        <a href="#" class="contacts__logo link">Mimiho</a>
      </div>
      <p class="contacts__text">Ресторанно-готельний комплекс</p>
      <div class="contacts-adress-map__wrap">
        <div class="contacts-adress__wrap">
          <div class="contacts__wrap">
            <ul class="contacts-rest__list">
              <li class="">
                <a href="./restaurants.html" class="link contacts__link"
                  >Ресторан</a
                >
              </li>
              <li class="contacts-rest__item">
                <a
                  href="tel:+380955559533"
                  class="contacts-phone__num-single link"
                  ><span>
                    <svg class="" width="24" height="24">
                      <use href="./images/icons.svg#smartphone-min"></use>
                    </svg>
                  </span>
                  095 555 95 33</a
                >
              </li>
            </ul>
            <ul class="contacts-hotel__list list">
              <li>
                <a href="./hotel.html" class="link contacts__link">Готель</a>
              </li>
              <li>
                <ul class="contacts-hotel-phone__list list">
                  <li>
                    <a href="tel:+380668491089" class="link contacts-phone__num"
                      ><span>
                        <svg class="" width="24" height="24">
                          <use href="./images/icons.svg#smartphone-min"></use>
                        </svg> </span
                      >066 849 10 89</a
                    >
                  </li>
                  <li>
                    <a href="tel:+380672758540" class="link contacts-phone__num"
                      >067 275 85 40</a
                    >
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <address class="contacts-location">
            <a
              href="https://goo.gl/maps/C7ectr22jE6Sy3CU9"
              class="contacts-adress-pin__link link"
              target="_blank"
              rel="noopener noreferrer nofollow"
              ><span
                ><svg class="contacts__icon" width="24" height="24">
                  <use href="./images/icons.svg#location-min"></use></svg></span
              >Україна, м. Полтава,<br />
              вул. Маршала<br />
              Бірюзова, 15</a
            >
          </address>
        </div>
      </div>
    </div>
    <div class="frame__wrap">
      <iframe
        class="contacts__map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3178.5308421769873!2d34.5265463!3d49.59919399999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f3347a5f%3A0x36f3f9aeec44a6a!2z0YPQuy4g0JzQsNGA0YjQsNC70LAg0JHQuNGA0Y7Qt9C-0LLQsCwgMTUsINCf0L7Qu9GC0LDQstCwLCDQn9C-0LvRgtCw0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgMzYwMDA!5e1!3m2!1sru!2sua!4v1670849654407!5m2!1sru!2sua"
        style="border: 0"
        allowfullscreen="true"
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</section>
