<section class="section contacts-main">
  <div class="contacts-adress">
    <a href="#">Mimiho</a>
    <p class="contacts__text">Ресторанно-готельний комплекс</p>
    <nav class="contacts-nav">
      <ul class="contacts-nav__list list">
        <li class="contacts-nav__item">
          <a href="./restaurants.html" class="link contacts__link">Ресторан</a>
        </li>
        <li class="contacts-nav__item">
          <a href="./hotel.html" class="link contacts__link">Готель</a>
        </li>
      </ul>
    </nav>
    <adress>
      <ul class="contacts-adress__list list">
        <li class="contacts-adress__item">
          <a href="tel:+380955559533" class="contacts-adress__link link"
            ><span>
              <svg>
                <use></use>
              </svg> </span
            >095 555 95 33</a
          >
        </li>
        <li class="contacts-adress__item">
          <ul class="contacts__phone list">
            <li>
              <a href="tel:+380668491089"
                ><span>
                  <svg>
                    <use></use></svg></span
                >066 849 10 89</a
              >
            </li>
            <li><a href="tel:+380672758540">067 275 85 40</a></li>
          </ul>
        </li>
        <li class="contacts-adress__item">
          <a
            href=""
            class="contacts-adress__link link"
            target="_blank"
            rel="noopener noreferrer nofollow"
          ></a>
        </li></ul
    ></adress>
  </div>
</section>
