<section class="restdet">
  <div class="container restdet__container">
    <div>
      <p class="restdet__logo">MIMIHO</p>
      <h3 class="restdet__title">Ресторан</h3>
      <p class="restdet__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
        Velit officia consequat duis enim velit mollit.
      </p>
    </div>
    <div class="restdet__slaider">
      <div>
        <img 
          src="./images/restaurant-details/restdetmeat-270.jpg" 
          alt="соковитий стейк">
      </div>
      <div></div>
      <div></div>
    </div>
    <button>Забронювати столик</button>
    <button>Переглянути меню</button>
  </div>
</section>
