<section class="restdet">
  <div class="container">
    <div class="restdet__container">
      <p class="restdet__logo">MIMIHO</p>
      <h3 class="restdet__title">Ресторан</h3>
      <p class="restdet__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
        Velit officia consequat duis enim velit mollit.
      </p>
    </div>
    <div class="restdet__slaider">
      <div>
        <img 
          class="img-meat"
          srcset="./images/restaurant-details/restdetmeat-270.jpg 270w,
                  ./images/restaurant-details/restdetmeat-540.jpg 540w"
          src="./images/restaurant-details/restdetmeat-270.jpg" 
          alt="соковитий стейк"
          sizes="(min-width: 1280px) 25vw, (min-width: 1024px) 25vw, 100vw">
      </div>
      <div>
        <img 
          class="img-dish" 
          srcset="./images/restaurant-details/restdetdish-162.jpg 162w,
                  ./images/restaurant-details/restdetdish-324.jpg 324w"
          src="./images/restaurant-details/restdetdish-162.jpg" 
          alt="їжа на дерев'яній дошці"
          sizes="(min-width: 1280px) 25vw, (min-width: 1024px) 25vw, 100vw">
      </div>
      <div>
        <img 
          class="img-eat" 
          srcset="./images/restaurant-details/restdeteat-270.jpg 270w,
                  ./images/restaurant-details/restdeteat-540.jpg 540w,
                  ./images/restaurant-details/tabrestdeteat-162.jpg 162w,
                  ./images/restaurant-details/tabrestdeteat-324.jpg 324w"
          src="./images/restaurant-details/tabrestdeteat-162.jpg" 
          alt="їжа в тарілці"
          sizes="(min-width: 1280px) 25vw, (min-width: 1024px) 25vw, 100vw">
      </div>
    </div>
    <div class="restdet__button">
      <button class="restdet__order">Забронювати столик</button>
      <button class="restdet__menu">Переглянути меню</button>
    </div>
  </div>
</section>
