<footer class="footer">
  <div class="container">
    <a href="#" class="logo footer__logo">MIMIHO</a>
    <div class="footer-nav">
      <ul class="footer-nav__list">
        <li class="footer-nav__item">
          <a href="#" class="footer-nav__link">Головна</a>
        </li>
        <li class="footer-nav__item">
          <a href="#" class="footer-nav__link">Ресторан</a>
        </li>
        <li class="footer-nav__item">
          <a href="#" class="footer-nav__link">Готель</a>
        </li>
      </ul>
    </div>
    <div class="footer-socials">
      <ul class="footer-socials__list">
        <li class="footer-socials__item">
          <a href="#" class="link footer-socials__link"
            >Telegram<svg>
              <use href=""></use></svg
          ></a>
        </li>
        <li class="footer-socials__item">
          <a href="#" class="link footer-socials__link"
            >Facebook<svg>
              <use href=""></use></svg
          ></a>
        </li>
        <li class="footer-socials__item">
          <a href="#" class="link footer-socials__link"
            >Instagram<svg>
              <use href=""></use></svg
          ></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
