<header class="header container">
  <div class="header-box">
    <a class="header-logo" href="./index.html">Mimiho</a>
    <nav class="contacts-nav">
      <ul class="contacts-list list">
        <li class="contacts-item">
          <a href="/src/restaurants.html" class="contacts-title">Ресторан</a>
          <div class="contacts-border">
            <svg class="contacts-icon" width="24px" height="24px">
              <use href="./images/icons.svg#smartphone-min"></use>
            </svg>
            <a href="tel:+380955559533" class="contacts-link">095 555 95 33</a>
          </div>
        </li>
        <li class="contacts-item">
          <a href="/src/hotel.html" class="contacts-title">Готель</a>
          <div class="contacts-border">
            <svg class="contacts-icon" width="24px" height="24px">
              <use href="./images/icons.svg#smartphone-min"></use>
            </svg>
            <a href="tel:+380668491089" class="contacts-link">066 849 10 89</a>
            <a href="tel:+380672758540" class="contacts-link">067 275 85 40</a>
          </div>
        </li>
      </ul>
    </nav>
    <div class="soc-box">
      <ul class="soc-list list">
        <li class="soc-item">
          <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer" class="soc-link link">
            <svg class="soc-icon" width="20px" height="20px">
              <use href="./images/icons.svg#instagram-min"></use>
            </svg>
          </a>
        </li>
        <li class="soc-item">
          <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer" class="soc-link link">
            <svg class="soc-icon" width="20px" height="20px">
              <use href="./images/icons.svg#facebook-min"></use>
            </svg>
          </a>
        </li>
        <li class="soc-item">
          <a href="https://web.telegram.org/k/" target="_blank" rel="noopener noreferrer" class="soc-link link">
            <svg class="soc-icon" width="20px" height="20px">
              <use href="./images/icons.svg#telegram-min"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
