<div class="header">
    <a class="header-logo" href="./index.html">Міміно</a>
    <nav class="contacts-nav">
        <ul class="contacts-list list">
            <li class="contacts-item">
                <a href="../restaurants.html" class="contacts-title">Ресторан</a>
                <div class="item-box">
                    <svg class="contacts-icon" width="24px" height="24px">
                        <use href="../images/icons.svg#smartphone-min"></use>
                    </svg>
                    <a href="tel:+380955559533" class="contacts-link">095 555 95 33</a>
                </div>
            </li>
            <li class="contacts-item">
                <a href="../hotel.html" class="contacts-title">Готель</a>
                <div class="item-box">
                    <svg class="contacts-icon" width="24px" height="24px">
                        <use href="../images/icons.svg#smartphone-min"></use>
                    </svg>
                    <a href="tel:+380668491089" class="contacts-link">066 849 10 89</a>
                    <a href="tel:+380672758540" class="contacts-link">067 275 85 40</a>
                </div>
            </li>
        </ul>
    </nav>
    <div class="soc-link">
        <svg class="soc-icon" width="20px" height="20px">
            <use href="../images/icons.svg#instagram-min"></use>
        </svg>
        <svg class="soc-icon" width="20px" height="20px">
            <use href="../images/icons.svg#facebook-min"></use>
        </svg>
        <svg class="soc-icon" width="20px" height="20px">
            <use href="../images/icons.svg#telegram-min"></use>
        </svg>
    </div>
</div>