<section class="hero-backround hero">
  <div class="container hero__container">
    <h1 class="hero__title">Mimino</h1>
    <p class="hero__text">Ресторанно-готельний комплекс</p>
    <p class="hero__moto">Смак життя 24/7</p>
    <!-- <ul class="hero-buttons__list">
      <li class="hero-buttons__item">
        <button class="" type="button">Забронювати столик</button>
      </li>
      <li class="hero-buttons_item">
        <button class="" type="button">Забронювати номер</button>
      </li>
    </ul> -->
    <button class="hero-main__button-table" type="button">
      Забронювати столик
    </button>
    <button class="hero-main__button-suit" type="button">
      Забронювати номер
    </button>
  </div>
  <div class="hero-social">
    <ul class="hero-social_list list">
      <li>
        <a
          href=""
          target="_blank"
          rel="noopener noreferrer"
          class="hero-soial__link"
        >
          <svg class="hero-social__icon" width="24" height="24">
            <use href="/src/images/icons.svg#instagram-min"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href=""
          target="_blank"
          rel="noopener noreferrer"
          class="hero-soial__link"
        >
          <svg class="hero-social__icon" width="24" height="24">
            <use href="/src/images/icons.svg#facebook-min"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href=""
          target="_blank"
          rel="noopener noreferrer"
          class="hero-soial__link"
        >
          <svg class="hero-social__icon" width="24" height="24">
            <use href="/src/images/icons.svg#telegram-min"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
