<section class="hero-backround">
  <div class="container hero__container">
    <!-- adress pin -->
    <address class="hero-main-adress">
      <a
        href="https://goo.gl/maps/C7ectr22jE6Sy3CU9"
        class="hero-main-adress__link"
        target="_blank"
        rel="noopener noreferrer nofollow"
        ><span
          ><svg class="hero-main-adress__icon" width="20px" height="20px">
            <use href="/src/images/icons.svg#location-min"></use></svg></span
        >Україна, м. Полтава,<br />
        вул. Маршала Бірюзова, 15</a
      >
    </address>

    <!-- hero -->

    <h1 class="hero-main__title">Mimiho</h1>
    <p class="hero-main__text">Ресторанно-готельний комплекс</p>
    <p class="hero-main__moto">Смак життя 24/7</p>
    <!-- main buttons -->
    <ul class="hero-main-button__list">
      <li>
        <button
          class="hero-main__button-table js-open-modal"
          data-modal="table"
          type="button"
        >
          Забронювати столик
        </button>
      </li>
      <li>
        <button
          class="hero-main__button-room js-open-modal"
          data-modal="room"
          type="button"
        >
          Забронювати номер
        </button>
      </li>
    </ul>

    <div class="hero-main-social">
      <ul class="hero-main-social__list list">
        <li class="hero">
          <a
            href="#"
            target="_blank"
            rel="noopener noreferrer"
            class="hero-main-soial__link"
          >
            <svg class="hero-main-social__icon" width="24" height="24">
              <use href="/src/images/icons.svg#instagram-min"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="#"
            target="_blank"
            rel="noopener noreferrer"
            class="hero-main-soial__link"
          >
            <svg class="hero-main-social__icon" width="24" height="24">
              <use href="/src/images/icons.svg#facebook-min"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="#"
            target="_blank"
            rel="noopener noreferrer"
            class="hero-main-soial__link"
          >
            <svg class="hero-main-social__icon" width="24" height="24">
              <use href="/src/images/icons.svg#telegram-min"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
