<section class="section lux-room">
  <div class="container">
    <div class="wrap-discribe">
      <div class="content-box">
        <p class="text-pre-title">Amet minim mollit non</p>
        <p class="text-logo">mimino</p>
        <h2 class="text-title"><span>двомісний номер </span>люкс</h2>
        <p class="text-after-title">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <div class="thumb">
        <picture>
          <source
            srcset="
              ./images/hotel/hotel-page-room-desktop-1x-min.jpg 1x,
              ./images/hotel/hotel-page-room-desktop-2x-min.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/hotel/hotel-page-room-tab-1x-min.jpg 1x,
              ./images/hotel/hotel-page-room-tab-2x-min.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./images/hotel/hotel-page-room-mob-1x-min.jpg 1x,
              ./images/hotel/hotel-page-room-mob-2x-min.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="room-img"
            src="./images/hotel/hotel-page-room-mob-1x-min.jpg"
            width="246"
            alt=""
          />
        </picture>
      </div>
    </div>
    <div class="wrap-info">
      <div class="lux-room-slider__wrapper">
        <!-- <div class="lux-room-slider__container">
          <ul class="lux-room-slider slick variable-width">
            <li class="lux-room-slider__item">
              <img
                class="lux-room-slider__image"
                srcset="
                  ./images/about-restaurant/kitchen_254_1x.jpg 254w,
                  ./images/about-restaurant/kitchen_194_1x.jpg 194w,
                  ./images/about-restaurant/kitchen_245_1x.jpg 245w,
                  ./images/about-restaurant/kitchen_254_2x.jpg 508w,
                  ./images/about-restaurant/kitchen_194_2x.jpg 388w,
                  ./images/about-restaurant/kitchen_245_2x.jpg 490w
                "
                sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, 245px"
                src="./images/about-restaurant/kitchen_254_1x.jpg"
                alt="фотографія кухні ресторану"
              />
            </li>
            <li class="lux-room-slider__item">
              <img
                class="lux-room-slider__image"
                srcset="
                  ./images/about-restaurant/olivas_254_1x.jpg 254w,
                  ./images/about-restaurant/olivas_194_1x.jpg 194w,
                  ./images/about-restaurant/olivas_245_1x.jpg 245w,
                  ./images/about-restaurant/olivas_254_2x.jpg 508w,
                  ./images/about-restaurant/olivas_194_2x.jpg 388w,
                  ./images/about-restaurant/olivas_245_2x.jpg 490w
                "
                sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, 245px"
                src="./images/about-restaurant/olivas_254_1x.jpg"
                alt="страви з оливками"
              />
            </li>
            <li class="lux-room-slider__item">
              <img
                class="lux-room-slider__image"
                srcset="
                  ./images/about-restaurant/seaFood_254_1x.jpg 254w,
                  ./images/about-restaurant/seaFood_194_1x.jpg 194w,
                  ./images/about-restaurant/seaFood_245_1x.jpg 245w,
                  ./images/about-restaurant/seaFood_254_2x.jpg 508w,
                  ./images/about-restaurant/seaFood_194_2x.jpg 388w,
                  ./images/about-restaurant/seaFood_245_2x.jpg 490w
                "
                sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, 245px"
                src="./images/about-restaurant/seaFood_254_1x.jpg"
                alt="страва з морепродуктами"
              />
            </li>
            <li class="lux-room-slider__item">
              <img
                class="lux-room-slider__image"
                srcset="
                  ./images/about-restaurant/tableJuice_254_1x.jpg 254w,
                  ./images/about-restaurant/tableJuice_194_1x.jpg 194w,
                  ./images/about-restaurant/tableJuice_245_1x.jpg 245w,
                  ./images/about-restaurant/tableJuice_254_2x.jpg 508w,
                  ./images/about-restaurant/tableJuice_194_2x.jpg 388w,
                  ./images/about-restaurant/tableJuice_245_2x.jpg 490w
                "
                sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, 245px"
                src="./images/about-restaurant/tableJuice_254_1x.jpg"
                alt="стіл сервирований стравами та напоями"
              />
            </li>
            <li class="lux-room-slider__item">
              <img
                class="lux-room-slider__image"
                srcset="
                  ./images/about-restaurant/tableServe_254_1x.jpg 254w,
                  ./images/about-restaurant/tableServe_194_1x.jpg 194w,
                  ./images/about-restaurant/tableServe_245_1x.jpg 245w,
                  ./images/about-restaurant/tableServe_254_2x.jpg 508w,
                  ./images/about-restaurant/tableServe_194_2x.jpg 388w,
                  ./images/about-restaurant/tableServe_245_2x.jpg 490w
                "
                sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, 245px"
                src="./images/about-restaurant/tableServe_254_1x.jpg"
                alt="сервірований стіл"
              />
            </li>
            <li class="lux-room-slider__item">
              <img
                class="lux-room-slider__image"
                srcset="
                  ./images/about-restaurant/vineGlass_254_1x.jpg 254w,
                  ./images/about-restaurant/vineGlass_194_1x.jpg 194w,
                  ./images/about-restaurant/vineGlass_245_1x.jpg 245w,
                  ./images/about-restaurant/vineGlass_254_2x.jpg 508w,
                  ./images/about-restaurant/vineGlass_194_2x.jpg 388w,
                  ./images/about-restaurant/vineGlass_245_2x.jpg 490w
                "
                sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, 245px"
                src="./images/about-restaurant/vineGlass_254_1x.jpg"
                alt="келих з вином"
              />
            </li>
            <li class="lux-room-slider__item">
              <img
                class="lux-room-slider__image"
                srcset="
                  ./images/about-restaurant/platesOnTable_254_1x.jpg 254w,
                  ./images/about-restaurant/platesOnTable_194_1x.jpg 194w,
                  ./images/about-restaurant/platesOnTable_245_1x.jpg 245w,
                  ./images/about-restaurant/platesOnTable_254_2x.jpg 508w,
                  ./images/about-restaurant/platesOnTable_194_2x.jpg 388w,
                  ./images/about-restaurant/platesOnTable_245_2x.jpg 490w
                "
                sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, 245px"
                src="./images/about-restaurant/platesOnTable_254_1x.jpg"
                alt="келих з вином"
              />
            </li>
          </ul>
          <div class="lux-room-slider__buttons">
            <div class="lux-room__slider-nav"></div>
            <button class="lux-room-slider__arrow-left" type="button">
              <svg
                width="30px"
                height="17px"
                class="lux-room-slider__arrow-left-svg"
              >
                <use href="./images/icons.svg#icon-prev-button"></use>
              </svg>
            </button>
            <button class="lux-room-slider__arrow-right" type="button">
              <svg
                width="30px"
                height="17px"
                class="lux-room-slider__arrow-right-svg"
              >
                <use href="./images/icons.svg#icon-next-button"></use>
              </svg>
            </button>
          </div>
        </div> -->
      </div>
      <ul class="list">
        <li><button class="btn" type="button">Детальніше</button></li>
        <li><button class="btn" type="button">Переглянути ціни</button></li>
      </ul>
    </div>
  </div>
</section>
