<section class="section lux-room">
  <div class="container">
    <div class="wrap-discribe">
      <div class="content-box">
        <p class="text-pre-title">Amet minim mollit non</p>
        <p class="text-logo">mimino</p>
        <h2 class="text-title"><span>двомісний номер </span>люкс</h2>
        <p class="text-after-title">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <div class="thumb">
        <picture>
          <source
            srcset="
              ./images/hotel/hotel-page-room-desktop-1x-min.jpg 1x,
              ./images/hotel/hotel-page-room-desktop-2x-min.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/hotel/hotel-page-room-tab-1x-min.jpg 1x,
              ./images/hotel/hotel-page-room-tab-2x-min.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./images/hotel/hotel-page-room-mob-1x-min.jpg 1x,
              ./images/hotel/hotel-page-room-mob-2x-min.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img width="194"
            class="room-img"
            src="./images/hotel/hotel-page-room-mob-1x-min.jpg"
            width="246"
            alt=""
          />
        </picture>
      </div>
    </div>
    <div class="wrap-info">
      <div class="overflow">
        <div class="restaurant-slaider-wrap">
          <!-- <div class="about-restaurant-slaider">
            <div class="slaider-img-wrap">
              <img
                class="restaurant-slaider-img"
                src="./images/hotel/hotel-page-room-slider-1-mob-1x-min.jpg"
                alt="інтер'єр"
              />
            </div>
            <div class="slaider-img-wrap">
              <img
                class="restaurant-slaider-img"
                src="./images/hotel/hotel-page-room-slider-2-mob-1x-min.jpg"
                alt="інтер'єр"
              />
            </div>
            <div class="slaider-img-wrap">
              <img
                class="restaurant-slaider-img"
                src="./images/hotel/hotel-page-room-slider-3-mob-1x-min.jpg"
                alt="інтер'єр"
              />
            </div>
            <div class="slaider-img-wrap">
              <img
                class="restaurant-slaider-img"
                src="./images/hotel/hotel-page-room-slider-4-mob-1x-min.jpg"
                alt="інтер'єр"
              />
            </div>
          </div> -->
        </div>
      </div>
      <ul class="list list-btn">
        <li><button class="btn" type="button">Детальніше</button></li>
        <li><button class="btn" type="button">Переглянути ціни</button></li>
      </ul>
    </div>
  </div>
</section>
