.container {
  width: 100%;
  margin: 0 auto;

  @include phone {
    width: 414px;
    padding-left: 15px;
    padding-right: 15px;
  }

  @include tablet {
    width: 1024px;
    padding-left: 47px;
    padding-right: 47px;
  }

  @include desktop {
    padding-left: 85px;
    padding-right: 85px;
    width: 1280px;
  }

  @include small-phone{
    min-width: 300px;
    padding-left: 10px;
    padding-right: 10px;
  }
