.contacts-main {
  background-color: #fffdee;

  padding-top: 20px;
  padding-bottom: 15px;
  
    @include phone {
      padding-top: 36px;
      padding-bottom: 32px;
    }
  
    @include tablet {
      padding-top: 69px;
      padding-bottom: 40px;
    }
    @include desktop {
      padding-top: 64px;
      padding-bottom: 74px;
    }
}

// .text-contacts__wrap {
//   // position: relative;
// }

.contacts__container {
  position: relative;
  @include tablet {
    display: flex;
    justify-content: space-between;
  }
}

.contacts__lines {
  z-index: 0;
  height: 599px;
  width: 1px;
  background-color: rgba(186, 186, 186, 0.4);
  position: absolute;
  filter: blur(0.5px);

  top: 0;
  left: 140px;


  
  // позиціонування ліній від верху секціх на телефон(не на всю висоту)
  @media screen and (max-width: 1024px) {
    position: absolute;
    top: -36px;
    height: 100%;
  }
  // тут на всю
  @include tablet{
    position: absolute;
    top: -69px;
    height: 128%;
  }
  @include desktop{
    position: absolute;
    top: -64px;
    height: 136%;
  }



  @media screen and (min-width: 1024px) {
    left: 278px;
  }
  @media screen and (min-width: 1280px) {
    left: 338px;
  }
  &::before {
      display: none;
      @include tablet{
        display: block;
      }
    content: ' ';
    height: 599px;
    width: 1px;
    background-color: rgba(186, 186, 186, 0.4);
    position: absolute;
    top: 0;
    left: 134px;
    @media screen and (min-width: 1024px) {
      left: 468px;
      height: 540px;
    }
    @media screen and (min-width: 1280px) {
      left: 604px;
    }
  }
  &::after {
    content: ' ';
    height: 100%;
    width: 1px;
    background-color: rgba(186, 186, 186, 0.4);
    position: absolute;
    top: 0;
    left: 134px;
    @media screen and (min-width: 1024px) {
      height: 540px;
      left: 234px;
    }
    @media screen and (min-width: 1280px) {
      left: 302px;
    }
  }
}

.contacts-adress-map__wrap {
  @include tablet {
    display: flex;
  }
}

// logo

.logo__wrap {
  display: block;
}
.contacts__logo {
  display: inline-block;

  font-family: 'Film P3 Wide Light';
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.3em;

  text-transform: uppercase;
  color: #494848;
  margin-bottom: 12px;

  @include tablet {
    font-size: 64px;
    line-height: 1.07;
  }
  transition: color $transition;
  &:hover,
  &:focus {
    color: $borderColor;
  }
}

.contacts__text {
  display: inline-block;
  margin-bottom: 24px;

  font-size: 16px;
  line-height: 1.25;

  @include tablet {
    margin-bottom: 52px;
  }
}
.contacts-adress__wrap {
  z-index: 5;
}
.contacts__link {
  display: block;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: $borderColor;

  transition: color $transition;

  &:hover {
    color: $textTitleColor;
  }

  &:focus {
    color: $textTitleColor;
  }
}

.contacts-rest__list {
  max-width: 273px;
  display: flex;
  margin-bottom: 28px;

  align-items: baseline;
  justify-content: space-between;

  @include tablet {
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;
  }
}

.contacts-phone__num-single {
  @media screen and (max-width: 1024px) {
    position: relative;
  }
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: 'Montserrat';

  background-color: $whiteColor;
  padding: 8px 8px 8px 8px;
  border: 0.5px solid $borderColor;
  border-radius: 2px;

  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  letter-spacing: 0.02em;
  fill: $borderColor;
  color: $textTitleColor;

  text-decoration: none;

  transition: color $transition, background-color $transition;

  // анимации для ховера таблички с телефоном ресторана
  &:hover {
    color: $borderColor;
    background-color: $textTitleColor;
  }
  &:focus {
    color: $borderColor;
    background-color: $textTitleColor;
  }
}

// hotel

.contacts-hotel__list {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 28px;

  @include tablet {
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;
  }
}

.contacts-hotel-phone__list {
  @media screen and (max-width: 1024px) {
      position: relative;
    }
  display: flex;
  align-items: center;
  gap: 8px;

  background-color: $whiteColor;
  padding: 8px 8px 8px 8px;
  border: 0.5px solid $borderColor;
  border-radius: 2px;
  transition: background-color $transition;

  @include tablet {
    gap: 16px;
  }

  &:hover {
    background-color: $textTitleColor;
  }

  &:focus {
    background-color: $textTitleColor;
  }
}

.contacts-phone__num {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: 'Montserrat';

  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  letter-spacing: 0.02em;
  color: $textTitleColor;
  fill: $borderColor;

  text-decoration: none;

  transition: color $transition;

  &:hover {
    color: $borderColor;
  }

  &:focus {
    color: $borderColor;
  }

  &:focus .contacts-hotel-phone__list {
    color: $borderColor;
    background-color: $textTitleColor;
  }
}

// location

.contacts-location {
  display: flex;
  justify-content: end;
  margin-bottom: 32px;

  @include tablet {
    justify-content: start;

    margin-bottom: 0;
  }

  transition: background-color $transition, color $transition;

  & .contacts-adress-pin__link:hover {
    background-color: $textTitleColor;
    color: $borderColor;
  }

  & .contacts-adress-pin__link:focus {
    background-color: $textTitleColor;
    color: $borderColor;
  }
}

.contacts-adress-pin__link {
  transition: background-color $transition, color $transition;

  // так полоска буде під цим
  @media screen and (max-width: 1024px) {
      position: relative;
    }
  min-width: 255px;
  display: flex;
  align-items: center;

  gap: 16px;
  fill: $borderColor;
  font-family: 'Montserrat';

  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  letter-spacing: 0.02em;

  color: $textTitleColor;

  text-decoration: none;

  background-color: $whiteColor;
  padding: 8px 8px 8px 8px;
  border: 0.5px solid $borderColor;
  border-radius: 2px;

  @include tablet {
    width: 100%;
  }
}

// map

.contacts__map {
  z-index: 5;
  width: 100%;
  height: 220px;

  @include tablet {
    display: flex;

    height: 100%;
    width: 535px;
  }
}

.frame__wrap{
  position: relative;
}