.details-hotel {
  padding-top: 24px;
  padding-bottom: 40px;
  background-size: cover;

  @media screen and (min-width: 320px) and (max-width: 1023px) {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.76) 139px,
        rgba(122, 122, 122, 0.4) 140px,
        rgba(0, 0, 0, 0.76) 141px,
        rgba(0, 0, 0, 0.76) 273px,
        rgba(122, 122, 122, 0.4) 274px,
        rgba(0, 0, 0, 0.76) 275px
      ),
      url(../images/details-hotel/details-hotel-background-mob-1x.jpg);

    @include retina {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.76) 139px,
          rgba(122, 122, 122, 0.4) 140px,
          rgba(0, 0, 0, 0.76) 141px,
          rgba(0, 0, 0, 0.76) 273px,
          rgba(122, 122, 122, 0.4) 274px,
          rgba(0, 0, 0, 0.76) 275px
        ),
        url(../images/details-hotel/details-hotel-background-mob-2x.jpg);
    }
  }

  @include tablet {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.76) 277px,
        rgba(122, 122, 122, 0.4) 278px,
        rgba(0, 0, 0, 0.76) 279px,
        rgba(0, 0, 0, 0.76) 508px,
        rgba(122, 122, 122, 0.4) 509px,
        rgba(0, 0, 0, 0.76) 510px,
        rgba(0, 0, 0, 0.76) 743px,
        rgba(122, 122, 122, 0.4) 744px,
        rgba(0, 0, 0, 0.76) 745px
      ),
      url(../images/details-hotel/details-hotel-background-tab-1x.jpg);

    @include retina {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.76) 277px,
          rgba(122, 122, 122, 0.4) 278px,
          rgba(0, 0, 0, 0.76) 279px,
          rgba(0, 0, 0, 0.76) 508px,
          rgba(122, 122, 122, 0.4) 509px,
          rgba(0, 0, 0, 0.76) 510px,
          rgba(0, 0, 0, 0.76) 743px,
          rgba(122, 122, 122, 0.4) 744px,
          rgba(0, 0, 0, 0.76) 745px
        ),
        url(../images/details-hotel/details-hotel-background-tab-2x.jpg);
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.76) 337px,
        rgba(122, 122, 122, 0.4) 338px,
        rgba(0, 0, 0, 0.76) 339px,
        rgba(0, 0, 0, 0.76) 639px,
        rgba(122, 122, 122, 0.4) 640px,
        rgba(0, 0, 0, 0.76) 641px,
        rgba(0, 0, 0, 0.76) 941px,
        rgba(122, 122, 122, 0.4) 942px,
        rgba(0, 0, 0, 0.76) 943px
      ),
      url(../images/details-hotel/details-hotel-background-desk-1x.jpg);

    @include retina {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.76) 337px,
          rgba(122, 122, 122, 0.4) 338px,
          rgba(0, 0, 0, 0.76),
          339px,
          rgba(0, 0, 0, 0.76) 639px,
          rgba(122, 122, 122, 0.4) 640px,
          rgba(0, 0, 0, 0.76) 641px,
          rgba(0, 0, 0, 0.76) 941px,
          rgba(122, 122, 122, 0.4) 942px,
          rgba(0, 0, 0, 0.76) 943px
        ),
        url(../images/details-hotel/details-hotel-background-desk-2x.jpg);
    }
  }

  &__container {
    padding-right: 140px;
  }

  &__logo {
    margin-bottom: 12px;
    margin-right: -10px;
    text-align: right;
    font-family: Film P3 Wide Light;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.08;
    letter-spacing: 0.3em;
    color: $whiteColor;
  }

  &__title {
    margin-bottom: 20px;
    text-align: right;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    color: $whiteColor;
  }

  &__text {
    width: 243px;
    margin-bottom: 48px;
    margin-left: 17px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    color: $textPreTitleColor;
  }

  &__btn {
    margin-top: 75px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
  }

  &__reserve,
  &__prices {
    width: 236px;
    padding: 14px 24px;
    color: $modalBackgroundColor;
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid $whiteColor;
    border-radius: 25px;
    font-weight: 700;
    line-height: calc(20 / 16);
    transition: background-color $transition, border-color $transition;

    &:hover,
    &:focus {
      background-color: $whiteColor;
      color: #f3c653;
      border-color: #f3c653;
    }
  }
}

// Слайдер //

.details-hotel-slaider {
  height: 270px;

  &__container {
    position: relative;
    margin-left: -15px;
    margin-right: 35px;
  }

  &__gallery {
    margin-left: 20px;
  }

  &__img {
    height: 270px;
    background-color: #dadada;
    border-radius: 2px;
  }

  &__arrow-left {
    padding: 0;
    border: none;
    margin-right: 30px;
    background-color: transparent;
    fill: $whiteColor;
    transition: fill $transition;
    &:hover,
    &:focus {
      fill: $modalBackgroundColor;
    }
  }

  &__arrow-right {
    padding: 0;
    border: none;
    background-color: transparent;
    fill: $whiteColor;
    transition: fill $transition;
    &:hover,
    &:focus {
      fill: $modalBackgroundColor;
    }
  }

  &__buttons {
    position: absolute;
    top: 286px;
    width: 108px;
    left: 270px;

    @media screen and (max-width: 320px) {
      left: 205px;
    }
    @include tablet {
      top: 296px;
      left: 568px;
    }
    @include desktop {
      left: 746px;
    }
  }
}

@include tablet {
  .details-hotel {
    padding-top: 48px;
    padding-bottom: 96px;

    &__container {
      padding-right: 278px;
      margin-left: 15px;
    }

    &__logo {
      margin-right: 0;
      margin-left: auto;
      margin-bottom: 16px;
      font-size: 64px;
      line-height: 1.8;
    }

    &__title {
      margin-bottom: 8px;
      font-size: 24px;
      line-height: 1.2;
    }

    &__text {
      margin-right: 0;
      margin-left: auto;
      margin-bottom: 40px;
      width: 549px;
      font-size: 16px;
      line-height: 1.25;
    }

    &__btn {
      margin-top: 150px;
    }

    // Слфйдер //

    &__slaiderwrap {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  .details-hotel-slaider {
    max-width: 662px;

    &__container {
      margin-left: 0;
    }
  }
}

@include desktop {
  .details-hotel-slaider {
    max-width: 840px;

    &__gallery {
      width: 270px;
      margin-left: 84px;
    }
  }
}
