.details-hotel {
  padding-top: 24px;
  padding-bottom: 40px;
  height: 735px;
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(../images/details-hotel/details-hotel-background-mob-1x.jpg);

  @include retina {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      ),
      url(../images/details-hotel/details-hotel-background-mob-2x.jpg);
  }

  @include tablet {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      ),
      url(../images/details-hotel/details-hotel-background-tab-1x.jpg);

    @include retina {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.7)
        ),
        url(../images/details-hotel/details-hotel-background-tab-2x.jpg);
    }
  }

  @include desktop {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      ),
      url(../images/details-hotel/details-hotel-background-desk-1x.jpg);

    @include retina {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.7)
        ),
        url(../images/details-hotel/details-hotel-background-desk-2x.jpg);
    }
  }

  &__container {
    padding-right: 140px;
  }

  &__logo {
    margin-bottom: 12px;
    margin-right: -10px;
    text-align: right;
    font-family: Film P3 Wide Light;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.08;
    letter-spacing: 0.3em;
    color: $whiteColor;
  }

  &__title {
    margin-bottom: 20px;
    text-align: right;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    color: $whiteColor;
  }

  &__text {
    width: 243px;
    margin-bottom: 48px;
    margin-left: 32px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    color: $textPreTitleColor;
  }

  &__btn {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
  }

  &__reserve,
  &__prices {
    width: 236px;
    padding: 14px 24px;
    color: $modalBackgroundColor;
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid $whiteColor;
    border-radius: 25px;
    font-weight: 700;
    line-height: calc(20 / 16);
    transition: background-color $transition, border-color $transition;

    &:hover,
    &:focus {
      background-color: $whiteColor;
      color: #f3c653;
      border-color: #f3c653;
    }
  }

  &__slaider {
    margin-left: -15px;
    margin-right: 25px;
    margin-bottom: 75px;
  }

  &__gallery {
    margin-left: 20px;
  }

  &__img {
    height: 270px;
  }
}

.details-hotel-slider__arrow-left {
  padding: 0;
  border: none;
  margin-right: 30px;
  background-color: transparent;
  fill: $whiteColor;
}

.details-hotel-slider__arrow-right {
  padding: 0;
  border: none;
  background-color: transparent;
  fill: $whiteColor;
}

@include tablet {
  .details-hotel {
    height: 620px;
    padding-top: 48px;
    padding-bottom: 96px;

    &__container {
      display: flex;
      flex-direction: column;
      padding-right: 278px;
    }

    &__logo {
      margin-bottom: 16px;
      font-size: 64px;
    }

    &__title {
      margin-bottom: 8px;
      font-size: 24px;
    }

    &__text {
      margin-left: 110px;
      margin-bottom: 40px;
      width: 549px;
      font-size: 16px;
    }

    &__btn {
      margin-top: 150px;
    }

    &__slaiderwrap {
      height: 270px;
      display: flex;
    }

    &__slaider {
      max-width: 662px;
      margin-left: 0px;
    }

    &__gallery {
      margin-left: 34px;
    }
  }
}

@include desktop {
  .details-hotel {
    &__wrap {
      align-items: flex-end;
    }

    &__text {
      width: 595px;
      margin-right: -15px;
      font-size: 17px;
      line-height: 1.25;
    }

    &__slaiderwrap {
      display: flex;
      gap: 33px;
      height: 270px;
    }

    &__slaider {
      max-width: 840px;
      margin-left: 32px;
    }

    &__gallery {
      margin-left: 84px;
    }
  }
}
