.footer {
  position: relative;
  background-color: $footerColor;

  @include tablet {
    background-color: $textBlackColor;
  }
}
.footer-grad {
  @include tablet {
    background-image: linear-gradient(
      to right,
      $footerColor 508px,
      rgba(122, 122, 122, 0.4) 509px,
      $footerColor 510px,
      $footerColor 743px,
      rgba(122, 122, 122, 0.4) 744px,
      $footerColor 745px
    );
  }
  @include desktop {
    background-image: linear-gradient(
      to right,
      $footerColor 639px,
      rgba(122, 122, 122, 0.4) 640px,
      $footerColor 641px,
      $footerColor 941px,
      rgba(122, 122, 122, 0.4) 942px,
      $footerColor 943px
    );
  }
}
.footer__container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
.logo {
  display: inline-block;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.07;
  letter-spacing: 0.3em;
  color: $modalBackgroundColor;
  font-family: 'Film P3 Wide Light';
  @include tablet {
    font-size: 64px;
    line-height: 1.08;
  }
}

.footer-menu {
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  @include tablet {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@include tablet {
  .footer-nav {
    margin-right: 136px;
  }
}
@include desktop {
  .footer-nav {
    margin-right: 199px;
  }
}
.footer-nav__item:not(:last-child) {
  margin-bottom: 16px;
}
.footer-nav__link {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $modalBackgroundColor;
}

.footer-socials__list {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 32px;

  @include tablet {
    gap: 12px;
    flex-direction: column-reverse;
    margin-top: 0;
  }
}
@include tablet {
  .footer-socials__item {
    width: 144px;
  }
}
.footer-socials__link {
  fill: rgba(243, 198, 83, 0.7);
  @include tablet {
    fill: $modalBackgroundColor;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0.5px solid $modalBackgroundColor;
    border-radius: 2px;
    padding: 10px 12px;
  }
}
.footer-socials__text {
  display: none;

  @include tablet {
    display: flex;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    letter-spacing: 0.02em;
    color: $modalBackgroundColor;
  }
}
