.header {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -50%;
  top: 0px;
  z-index: 8;
  @include phone {
    max-width: 414px;
    margin-left: -207px;
  }
  @include tablet {
    max-width: 1024px;
    margin-left: -512px;
  }
  @include desktop {
    max-width: 1280px;
    margin-left: -640px;
  }
}

.header-box {
  display: flex;
  width: 100%;
  height: 64px;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  @include phone {
    justify-content: space-around;
  }
  @include tablet {
    justify-content: space-between;
  }
}

.header-logo {
  font-family: 'Film P3 Wide Light';
  font-style: normal;
  font-weight: 700;
  /*---font-size змінити на : 36px;---*/
  font-size: 20px;
  line-height: 39px;
  letter-spacing: 0.3em;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.contacts-nav {
  display: flex;
}

.contacts-list {
  display: flex;
  list-style: none;
  margin: 0;
  @include phone {
    gap: 20px;
  }
  @include tablet {
    gap: 72px;
  }
}

.contacts-link {
  display: none;
  @include tablet {
    display: inline-block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    color: #ffffff;
    padding: 11px 8px 12px 8px;
  }
}

.contacts-link:focus,
.contacts-link:hover {
  color: #f3c653;
}

.contacts-item {
  display: inline-flex;
  align-items: center;
  @include tablet {
    gap: 32px;
  }
}

.contacts-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #f3c653;
  text-decoration: none;
}

.contacts-border {
  @include tablet {
    height: 40px;
    border: 1px solid rgba(243, 198, 83, 0.7);
    border-radius: 2px;
  }
}

.contacts-icon {
  vertical-align: middle;
  fill: #f3c653;
  @include tablet {
    margin-left: 8px;
  }
}

.soc-box {
  display: none;
  @include desktop {
    display: flex;
  }
}

.soc-list {
  display: inline-flex;
  gap: 20px;
}

.soc-link {
  gap: 20px;
}

.soc-icon {
  display: none;
  @include desktop {
    display: inline-block;
    fill: #f3c653;
  }
}
