.header {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 8;
}


.header-box {
  width: 100%;
  height: 64px;
  background-color: #0000;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;

  @include phone {
  
    max-width: 414px;
    margin: 0 auto;
  
  }
    
  @include tablet {
    max-width: 1024px;
    height: 100px;
    margin: 0 auto;
    }

  @include desktop {
    max-width: 1280px;
    margin: 0 auto;
  }
}
.header-logo {
  font-family: 'Film P3 Wide Light';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.3em;
  color: $whiteColor;
  text-transform: uppercase;
  text-decoration: none;
  transition: color $transition;

  @include tablet {
    font-size: 40px;
    line-height: 1.07;
  }
}
.header-logo:hover,
.header-logo:active,
.header-logo:focus{
  color: $modalBackgroundColor;
}

.contacts-nav {
  display: flex;
}

.contacts-list {
  display: flex;
  list-style: none;
  margin: 0;

  @include phone {
    gap: 20px;
  }

  @include tablet {
    gap: 72px;
  }
}

.contacts-link {
  display: none;

  @include tablet {
    display: inline-block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: $whiteColor;
    padding: 11px 8px 12px 8px;
  }
}

.contacts-link:focus,
.contacts-link:hover {
  color: $modalBackgroundColor;
  transition: color $transition
}

.contacts-item {
  display: inline-flex;
  align-items: center;

  @include tablet {
    gap: 32px;
  }
}

.contacts-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: $modalBackgroundColor;
  text-decoration: none;
  transition: color $transition
}
.contacts-title:hover,
.contacts-title:active,
.contacts-title:focus{
  color: $primaryBackgroundColor;
}

.contacts-border {
  @include tablet {
    height: 40px;
    border: 1px solid $modalBackgroundColor;
    border-radius: 2px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.contacts-icon {
  vertical-align: middle;
  fill: $modalBackgroundColor;

  @include tablet {
    margin-left: 8px;
  }
}

.soc-box {
  display: none;

  @include desktop {
    display: flex;
  }
}

.soc-list {
  display: inline-flex;
  gap: 20px;
}

.soc-link {
  gap: 20px;
}

.soc-icon {
  display: none;

  @include desktop {
    display: inline-block;
    fill: $modalBackgroundColor;
    &:hover, 
    &:focus {
      fill: $whiteColor;
      transition: fill $transition
    }
  }
}
