.hero__container {
  padding-top: 181px;

  @include tablet {
    padding-top: 188px;
  }

  @include desktop {
    padding-top: 164px;
  }
}

.hero-backround {
  position: relative;
  height: 740px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),
    url(../images/hero-index/hero-main-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../images/hero-index/hero-main-2x.jpg);
  }

  @include phone {
    max-width: 414px;
  }

  @media screen and (min-width: 600px) {
    max-width: 1025px;
    height: 740px;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../images/hero-index/hero-main-tab.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../images/hero-index/hero-main-tab-2x.jpg);
    }
  }

  @include tablet {
    min-width: 1024px;
    height: 740px;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../images/hero-index/hero-main-tab.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../images/hero-index/hero-main-tab-2x.jpg);
    }
  }

  @include desktop {
    min-width: 1280px;
    height: 740px;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../images/hero-index/hero-main-desk-1x.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../images/hero-index/hero-main-desk-2x.jpg);
    }
  }
}

// adress

.hero-main-adress {
  display: flex;
  position: absolute;
  @media screen and (max-width: 1023px) {
    top: 64px;
    right: 15px;
  }

  @include tablet {
    bottom: 85px;
    left: 47px;
  }

  @include desktop {
    left: 85px;
  }
}

.hero-main-adress__link {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.01em;

  color: #e5e5e5;

  border: 1px solid rgba(243, 198, 83, 0.7);
  border-radius: 2px;
  transition: box-shadow $transition;

  @include tablet {
    font-size: 16px;
    line-height: 1.25;
  }

  &:hover {
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.8) inset;
  }

  &:focus {
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.8) inset;
  }
}
.hero-main-adress__icon {
  fill: $modalBackgroundColor;
}

// hero title

.hero-main__title {
  width: 260px;
  text-align: center;
  display: block;

  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;

  font-family: 'Film P3 Wide Light';
  font-weight: 700;

  font-size: 96px;
  line-height: 1.07;
  letter-spacing: 0.3em;
  text-transform: uppercase;

  background-color: $whiteColor;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;

  @include tablet {
    width: 345px;
    margin-bottom: 16px;
    font-size: 128px;
    line-height: 1.08;
  }

  @include desktop {
    margin-bottom: 32px;
    font-size: 128px;
    line-height: 1.08;
  }
}

.hero-main__text {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;

  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;

  letter-spacing: 0.02em;

  color: $whiteColor;

  @include tablet {
    margin-bottom: 56px;
  }

  @include desktop {
    margin-bottom: 64px;
  }
}

.hero-main__moto {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 113px;

  font-family: 'Times New Roman';
  font-weight: 700;
  font-size: 32px;
  line-height: 1.15;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  color: $whiteColor;

  @include tablet {
    margin-bottom: 145px;
  }
}
// button

.hero-main-button__list {
  @include tablet {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
  }
}
.hero-main__button-table {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;

  font-family: 'Montserrat';

  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;

  letter-spacing: 0.02em;

  color: $modalBackgroundColor;
  background-color: transparent;
  border: 2px solid $whiteColor;
  border-radius: 25px;

  padding: 15px 24px 13px 24px;

  transition: background-color $transition;

  &:hover {
    background-color: $whiteColor;
  }
  &:active {
    background-color: $whiteColor;
  }
  &:focus {
    background-color: $whiteColor;
  }
}

.hero-main__button-room {
  display: block;
  margin-left: auto;
  margin-right: auto;

  font-family: 'Montserrat';

  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;

  letter-spacing: 0.02em;

  color: $modalBackgroundColor;
  background-color: transparent;
  border: 2px solid $whiteColor;
  border-radius: 25px;

  padding: 15px 24px 13px 24px;
  transition: background-color $transition;

  &:hover {
    background-color: #ffffff;
  }
  &:active {
    background-color: #ffffff;
  }

  &:focus {
    background-color: #ffffff;
  }
}

.hero-main-social {
  position: absolute;
  left: 15px;
  bottom: 15px;
  @include tablet {
    left: 45px;
  }
  @include desktop {
    display: none;
  }
}

.hero-main-social__list {
  display: flex;
  gap: 23px;
}

.hero-main-social__link {
  width: 100%;
  height: 100%;
  fill: $borderColor;
  transition: fill $transition;

  &:focus .hero-main-social__icon {
    fill: $whiteColor;
  }

  &:active .hero-main-social__icon {
    fill: $whiteColor;
  }
}
