.amenities {
  padding-top: 32px;
  padding-bottom: 32px;

  background-color: $primaryBackgroundColor;
}
/* ЗАГОЛОВОК */
.amenities__title {
  margin-bottom: 16px;

  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: calc(37 / 32);
  color: $textBlackColor;
  text-transform: uppercase;
}
/* ОПИС */
.amenities__description {
  margin-bottom: 32px;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20 / 16);
  color: $textColor;

  @include tablet {
    width: 757px;
  }
}

.amenities__item {
  margin-bottom: 32px;
}
/* ОБГОРТКА */
.amenities__wrap {
  @include tablet {
    display: flex;
    align-items: baseline;
    gap: 80px;
  }
  @include desktop {
    gap: 159px;
  }
}
/* ПІДЗАГОЛОВКИ */
.amenities__subtitle {
  margin-bottom: 16px;

  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  text-transform: uppercase;
}
/* ОПИСИ ЗРУЧНОСТЕЙ */
.amenities__text {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.02em;
  color: $textColor;
  & + & {
    margin-top: 16px;
  }

  @include tablet {
    flex-basis: 400px;
  }
}
/* ОБГОРТКА КНОПКА + ПОСИЛАННЯ */
.amenities__button-wrap {
  @include tablet {
    display: flex;
    flex-direction: column;
    width: 434px;

    margin-left: 50%;
  }
}
/* КНОПКА БРОНЮВАННЯ */
.amenitites__button {
  padding: 20px 43px;
  margin-bottom: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: $textBlackColor;
  border: 1px solid $modalBackgroundColor;
  border-radius: 25px;

  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  /* font-size: 20px; */
  line-height: calc(24 / 18);
  color: $whiteColor;
  text-transform: uppercase;

  /* АНІМАЦІЯ */
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;

  &:hover,
  &:focus,
  &:active {
    background-color: $modalBackgroundColor;
    color: $textBlackColor;
  }

  @media screen and (max-width: 413px) {
    font-size: 16px;
  }

  @include tablet {
    padding: 18px 38px;

    min-width: 434px;

    font-size: 22px;
    /* font-size: 24px; */
    line-height: calc(29 / 22);
  }
}

.amenities__link {
  display: flex;
  align-items: center;
  justify-content: center;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(20 / 16);
  color: $borderColor;

  /* АНІМАЦІЯ */
  transition: color 300ms ease-in-out;

  &:hover,
  &:focus,
  &:active {
    color: $modalBackgroundColor;
  }

  @media screen and (max-width: 413px) {
    font-size: 15px;
  }

  @include tablet {
    justify-content: start;
    font-size: 20px;
    line-height: calc(24 / 20);
  }
}

.amenities__link-icon {
  margin-left: 12px;
  fill: currentColor;
}
